/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* { margin: 0; padding: 0;}

body, html { height:100%;overflow: hidden; font-family: 'Indie Flower', cursive;}

.game {
  position:absolute;
  background-color: whitesmoke;
  background-image: url("assets/grid.svg");
}
