.button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(25, 27, 31);
  border-radius: 15px;
  height: 60px;
  width: 60px;
  border: none;
  color: white;
}

.button.top {
  bottom: 125px;
  left: 65px;
}


.button.bottom {
  bottom: 5px;
  left: 65px;
}

.button.left {
  bottom: 65px;
  left: 5px;
}

.button.right {
  bottom: 65px;
  left: 125px;
}
